body {
  margin: 0;
  font-family: monospace, -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 13px;
  background: #EEF1F5; 
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

table {
  border-collapse: collapse;
  background-color: #E6E9EE;
  
  td {
    border: 2px solid #BCC0CC;

    &.edited {
      background: yellow;
    }
  }

}

.registerTableBox, .memoryTableBox {
  flex-shrink: 0;
  height: 100vh;
  overflow-y: scroll;
  
  .header {
    position: absolute;
  }
}


.registersTable, .memoryTable {

  td {
    text-align: right;
    width: 82px;
    padding: 0.1rem 5px;
    font-size: 12px;
    line-height: 18px;
    
    span {
      padding: .1rem .2rem;
      &.edited {
        background: #BCC0CC; 
      }
    }

  }
}

.registersTable {
  height: auto;
  margin: 2rem 0px 2rem .5rem;
}

.memoryTable {
  height: auto;
  margin: 2rem .5rem 2rem 0px;
}


.editor {
  display: flex; 
  flex-direction:column;
  flex-grow: 1;
  padding: 0px 2rem;

  textarea {
    width: auto;
    min-width: 20rem;
    padding: .5rem;
    line-height:1.1rem;
    font-family: monospace;
    outline: none;
  }
}
