
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: 13px;
  background: #EEF1F5;
  padding: .5rem;
}

body, button, input, table {
  font-family: "Roboto Mono", monospace;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.header {
  margin-top: .5rem;
}

.content {
  margin: 1rem 0px;
  height: calc(100vh - 5rem);
}

.registerTableBox, .memoryTableBox {
  flex-shrink: 0;
  overflow-y: scroll;
  .header {
    position: absolute;
  }
}

.registersTable, .memoryTable {
  height: auto;
  margin: 0rem 0px;
}

table {
  border-collapse: collapse;
  background-color: #E6E9EE;
  
  td {
    border: 2px solid #BCC0CC;
    text-align: right;
    width: 82px;
    padding: 0.1rem 5px;
    font-size: 12px;
    line-height: 18px;
    span {
      padding: .1rem .2rem;
      &.edited {
        background: #BCC0CC; 
      }
    }
  }

}

.buttonsBox {
  display: flex;
  justify-content: center;
  padding: 1rem 0px;

  button {
    margin: 0px 1rem;
    line-height: 1.7rem;
    border: 2px solid #BCC0CC;
    border-radius: 0px;
    background: #E6E9EE;
    cursor: pointer;
  }
}

.cInput {
  border: 2px solid #BCC0CC;
  background: #E6E9EE;
  padding: 0px .5rem;
  margin-right: .5rem;

  input {
    display: none;
    height: 0px;
    width: 0px;
    margin: 0px;
    opacity: 0;
  }

  label {
    display: flex;
    align-items: center;
    line-height: 18px;
    cursor: pointer;
    font-size: 12px;
    line-height: 1.7rem;

    div {
      width: 10px;
      height: 10px;
      border: 2px solid #BCC0CC;
      margin-right: 4px;
      
      &.active {
        &::after {
          content: "";
          position: absolute;
          margin-top: 4px;
          width: 10px;
          height: 2px;
          background: #BCC0CC;
          transform: rotate(45deg);
          transform-origin: center;
        }
        &::before{
          content: "";
          position: absolute;
          margin-top: 4px;
          width: 10px;
          height: 2px;
          background: #BCC0CC;
          transform: rotate(-45deg);
          transform-origin: center;}
      }
    }
  }
}





.editor {
  display: flex; 
  flex-direction:column;
  flex-grow: 1;
  padding: 0px 1rem;

  .wrapper {
    display: flex;
    align-items: flex-start;
  }

  textarea {
    flex-grow: 1;
    width: auto;
    min-width: 20rem;
    padding: 2px .5rem;
    line-height:1.1rem;
    font-family: monospace;
    outline: none;
    border: 0px;
    line-height: calc(0.2rem + 20px);
  }
}
